@charset "UTF-8";


#wrap{}

.container{
    width: 1440px;
    margin: 0 auto;
    position: relative;
}
.container2{
    width: 1920px;
    margin: 0 auto;
    position: relative;
}

#h_top{
    width: 100%;
    height: 30px;
}
#h_bottom{
    width: 100%;
    height: 120px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#banner{width: 100%;}
#hot_con{}
#tabmenu{}
#Kotakin{
    width: 100%;
    margin-top: 80px;
    height: 600px;
}
#sub_ban{
    width: 100%;
    height: 300px;
    margin-top: 80px;
}
#sub_ban img{width: 100%; height: 100%;}
#notice{
    width: 100%;
    height: 50px;
    background-color: #e6e6e6;
}
#footer_top{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ccc;
}
#footer_bottom{
    width: 100%;
    height: auto;
}

/* .header */
.h_top{
    display: flex;
    justify-content: end;
    align-items: center;
}
.h_top > ul{
    margin-right: 125px;
}
.h_top > ul > li{
    float: left;
    padding: 0 20px;
}
.h_top > ul > li > a{
    font-size: 13px;
}

.h_bottom{
    position: relative;
}
.h_bottom .logo{
    float: left;
    width: 450px;
    height: 120px;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.h_bottom .logo a img{
    width: 250px;
    display: block;
}
.h_bottom .nav{
    float: right;   
    margin-right: 100px;
}
.h_bottom .nav>ul{}
.h_bottom .nav>ul>li{
    display: inline-block;
    width: 180px;
    height: 120px;
}
.h_bottom .nav>ul>li>a{
    font-size: 20px;
    font-weight: 550;
    display: block;
    line-height: 150px;
    text-align: center;
    position: relative;
    transition: all 0.3s;
}
.h_bottom .nav>ul>li>a::after{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #047aff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: none;
}
.h_bottom .nav>ul>li>a:hover::after{
    display: block;
}
.h_bottom .nav>ul>li>.submenu{
    position: absolute;
    top: 120px;
    left: 100px;
    width: 90%;
    height: 60px;
    z-index: 20;
    display: none;
}
.h_bottom .nav>ul>li:nth-child(1)>.submenu{
    display: block;
}
.h_bottom .nav>ul>li>.submenu>li{
    display: inline-block;
    margin-right: 103px;
    line-height: 60px;
}
.h_bottom .nav>ul>li>.submenu>li:last-child{
    margin-right: 0;
}
.h_bottom .nav>ul>li>.submenu>li>a{
    color: #fff;
    display: none;
}
.h_bottom .nav>ul>li>.submenu>li>a:hover{
    color: #ff4459;
}
.navbg{
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.5);
    z-index: 12;
    position: absolute;
    top: 150px;
    left: 0;
    display: none;
}

.banner{
    width: 100%;
    position: absolute;
    top: 150px;
    z-index: 10;
}
.banner img{
    width: 100%;
}

/* banner_menu */
.banner_menu{
    position: relative;
}
.banner_menu .b_box{
    width: 450px;
    height: 500px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    padding: 30px;
    background-color: #fff;
    margin: 70px 0;
}
.banner_menu .b_box > h2{
    color: #047aff;
    padding: 10px 0;
}
.banner_menu .b_box .menu{
    font-size: 18px;
}
.banner_menu .b_box .menu a{
    display: inline-block;
    width: 125px;
    padding: 30px 0 20px 0;
    position: relative;
    transition: all 0.3s;
}
.banner_menu .b_box .menu a:nth-of-type(1):after{
    content: "";
    background-image: url(../images/banner\ icon.png);
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 70px;
    height: 15px;
}
.banner_menu .b_box .search{}
.banner_menu .b_box .search .select{
    display: block;
    font-size: 18px;
    width: 100%;
    height: 50px;
    margin: 15px 0;
    padding: 0 10px;
    box-sizing: border-box;
}

.banner_menu .b_box .go{
    width: 100%;
    height: 60px;
    background-color: #047aff;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 2px;
    transition: all 0.2s;
}
.banner_menu .b_box .go:hover{
    background-color: #fff;
    border: 2px solid #047aff;
    box-sizing: border-box;
}
.banner_menu .b_box .go a{
    color: #fff;
    text-align: center;
    line-height: 60px;
}
.banner_menu .b_box .go:hover a{
    color: #000;
}

/* popup */
.popup{
    position: absolute;
    top: 0;
    right: 300px;
    z-index: 200;
}
.popup .close{
    position: absolute;
    bottom: 20px;
    right: 30px;
    color: #fff;
    z-index: 300;
    cursor: pointer;
}

/* slider */
.slider{
    width: 100%;
}
.slider .swiper-slide{
    height: 700px;
    position: relative;
}
.slider .swiper-slide img{
    width: 100%;
}
.slider .swiper-slide span{
    font-weight: bold;
    color: #ff4459;
}
.slider .swiper-slide .s_box{
    position: absolute;
    bottom: 270px;
    left: 0;
    z-index: 10;
}

.slider .swiper-slide p{
    font-size: 64px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px #222;
}
.slider .swiper-slide .blue{
    color: #047aff;
}
.slider .swiper-slide em{
    font-size: 24px;
    color: #fff;
    text-shadow: 2px 2px 2px #222;
}

.slider .swiper-button-prev::after{
    font-size: 60px;
    margin-left: 60px;
}
.slider .swiper-button-next::after{
    font-size: 60px;
    margin-right: 60px;
}

/* hot_con */
.hot_con{
    overflow: hidden;
}
.hot_con span{
    font-size: 50px;
    font-weight: bold;
    color: #ff4459;
    margin-right: 20px;
    font-family: 'GangwonEduPowerExtraBoldA';
}
.hot_con .list{
    float: left;
    margin-right: 93px;
    width: 418px;
    position: relative;
    overflow: hidden;
}
.hot_con .list .l_img{
    width: 100%;
    height: 268px;
    overflow: hidden;
}
.hot_con .list .f_img{
    width: 418px;
    height: 268px;
}
.hot_con .list:last-child{
    margin-right: 0;
}
.hot_con .list .Apic{
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 30px;
    background-color: #ff4459;
    color: #fff;
    text-align: center;
    line-height: 30px;
    z-index: 20;
}
.hot_con .list img{
    width: 100%;
    transition: all 0.3s;
}
.hot_con .list:hover img{
    transform: scale(1.1);
}
.hot_con .list figcaption{
    width: 100%;
    height: 130px;
    padding: 10px;
}
.hot_con .list:hover figcaption p{
    color: #ff4459;
}
.hot_con .list figcaption p{
    font-size: 20px;
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}
.hot_con .list figcaption em{
    font-size: 16px;
}

/* tabmenu */
.tabmenu{}
.tabmenu .tab_btn{}
.tabmenu .tab_btn ul{
    overflow: hidden;
    width: 100%;
}
.tabmenu .tab_btn ul li{
    float: left;
    width: 50%;
    border: 1px solid #047aff;
    text-align: center;
    line-height: 80px;
    font-size: 28px;
    box-sizing: border-box;
}
.tabmenu .tab_btn ul li:last-child{
    margin-left: -1px;
}
.tabmenu .tab_btn ul li.active{
    background-color: #047aff;
}
.tabmenu .tab_btn ul li.active a{
    color: #fff;
}
.tabmenu .tab_btn ul li a{
    color: #000;
}
.tabmenu .tab_con{
    padding: 60px;
}
.tabmenu .tab_con .con_k{
    overflow: hidden;

}
.tabmenu .tab_con .con_k .left{
    float: left;
    width: 49%;
    padding-right: 60px;;
    box-sizing: border-box;
}
.tabmenu .tab_con .con_k .left img{
    width: 100%;
}
.tabmenu .tab_con .con_k .right{
    float: left;
    width: 49%;
    padding: 20px 60px 0 40px;
    box-sizing: border-box;
    position: relative;
}
.tabmenu .tab_con .con_k .right strong{
    font-size: 34px;
    color: #047aff;
}
.tabmenu .tab_con .con_k .right p{
    margin: 20px 0;
    font-size: 24px;
    font-weight: 600;
}
.tabmenu .tab_con .con_k .right em{
    display: block;
    margin: 10px 0;
}
.tabmenu .tab_con .con_k .right .price{
    position: absolute;
    bottom: 20px;
    right: 0;
}
.tabmenu .tab_con .con_k .right .price p{
    text-decoration: line-through;
    margin: 0;
}
.tabmenu .tab_con .con_k .right .price .reserv{
    width: 135px;
    background-color: #047aff;
    color: #fff;
    text-align: center;
    line-height: 45px;
    margin: 15px 0 0 3px;
    cursor: pointer;
}
.tabmenu .tab_con .con_e{
    overflow: hidden;
}
.tabmenu .tab_con .con_e .left{
    float: left;
    width: 49%;
    padding-right: 60px;
    box-sizing: border-box;
}
.tabmenu .tab_con .con_e .left img{
    width: 100%;
}
.tabmenu .tab_con .con_e .right{
    float: left;
    width: 49%;
    padding: 20px 60px 0 40px;
    box-sizing: border-box;
    position: relative;
}
.tabmenu .tab_con .con_e .right strong{
    font-size: 34px;
    color: #047aff;
}
.tabmenu .tab_con .con_e .right p{
    margin: 20px 0;
    font-size: 24px;
    font-weight: 600;
}
.tabmenu .tab_con .con_e .right em{
    display: block;
    margin: 10px 0;
}
.tabmenu .tab_con .con_e .right .price{
    position: absolute;
    bottom: 20px;
    right: 0;
}
.tabmenu .tab_con .con_e .right .price p{
    text-decoration: line-through;
    margin: 0;
}
.tabmenu .tab_con .con_e .right .price .reserv{
    width: 135px;
    background-color: #047aff;
    color: #fff;
    text-align: center;
    line-height: 45px;
    margin: 15px 0 0 3px;
    cursor: pointer;
}

/* .kotak */
.kotak_left{
    position: absolute;
    top: 0;
    left: 0;
}
.kotak_left .kleft_text{
    position: absolute;
    top: 50%;
    left: 140px;
    transform: translateY(-50%);
    color: #fff;
    font-family: "Elice";
}
.kotak_left .kleft_text h4{
    font-family: 'EliceDigitalBaeum_Bold';
    font-size: 44px;
}
.kotak_left .kleft_text h4 span{
    display: block;
    font-size: 30px;
}
.kotak_left .kleft_text p{
    margin-top: 130px;
    line-height: 2;
    font-size: 16px;
}
.kotak_left .ko_link{
    background-color: #ff4459;
    width: 167px;
    margin-top: 20px;
    font-family: 'EliceDigitalBaeum_Bold';
    line-height: 40px;
    padding: 0 20px;
    color: #fff;
    box-sizing: border-box;
    transition: all 0.2s;
    cursor: pointer;
}
.kotak_left .ko_link:hover{
    background-color: rgba(255,255,255,0.3);
    color: #ff4459;
}
.kotak_left .ko_link span{
    display: inline-block;
    margin-left: 37px;
}
.kotak_right{
    position: absolute;
    top: 100px;
    right: 0;
}
.kotak_right p{
    position: absolute;
    top: -35px;
    right: 20px;
    font-size: 24px;
    color: #555;
}
.kotak_right img{
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

/* package */
.package{
    position: relative;
}
.package h3 .span1{
    font-size: 55px;
    color: #ff4459;
}
.package h3 .span2{
    color: #ff4459;
}
.package .slick-slide{
    margin-top: 30px;
    box-sizing: border-box;
    width: 100%;
}
.package .slick-slide img{
    width: 60%;
    margin: 0 auto;
    filter: contrast(50%);
}
.package .slick-center{
    margin-top: 0;
    filter: none;
}
.package .slick-center img{
    width: 80%;
    border: 3px solid #ff4459;
    border-radius: 50%;
    box-sizing: border-box;
    filter: none;
}
.slick{}
.slick > div{}

.slick > div span{
    display: block;
    width: 100%;
    margin-top: 5%;
    text-align: center;
}
.slick > div span strong{
    font-size: 22px;
}
.slick > div span p{
    font-size: 16px;
    padding: 3%;
}
.package h3{
    margin-bottom: 30px;
}
.package .slick-prev{
    position: absolute;
    top: 50%;
    left: -80px;
    transform: translateY(-50%);
    border: none;
    font: var(--fa-font-solid);
    text-indent: -999999px;
    width: 40px;
    height: 40px;
    background-color: transparent;
}
.package .slick-prev::before{
    content: "\f104";
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 0;
    font-size: 36px;
    color: #ff4459;

}
.package .slick-next{
    position: absolute;
    top: 50%;
    right: -80px;
    transform: translateY(-50%);
    border: none;
    font: var(--fa-font-solid);
    text-indent: -999999px;
    width: 40px;
    height: 40px;
    background-color: transparent;
}
.package .slick-next::after{
    content: "\f105";
    position: absolute;
    top: 0;
    right: 0;
    text-indent: 0;
    font-size: 36px;

    color: #ff4459;
}

/* notice */
#notice{
    width: 100%;
    height: 50px;
}
#notice .h5{
    display: block;
    width: 100px;
    float: left;
    font-size: 16px;
    line-height: 50px;
}
.notice{
    float: left;
    overflow: hidden;
    height: 50px;
}
.notice .list{
    height: 250px;
    position: relative;
}
.notice .list .list_text{
    display: block;
    line-height: 50px;
    font-size: 14px;
    height: 50px;
    width: 100%;
}
.more a{
    line-height: 50px;
    display: block;
    padding-left: 600px;
    font-weight: bold;
}

/* f_top */
.f_top{
    overflow: hidden;
}
.f_top .f_nav{
    float: left;
}
.f_top .f_nav ul{}
.f_top .f_nav ul li{
    margin-right: 40px;
    line-height: 70px;
    font-weight: bold;
    float: left;
}

.f_top .f_sns{float: right;}
.f_top .f_sns ul {
    width: 200px;
}
.f_top .f_sns ul li{
    float: left;
}
.f_top .f_sns ul li:hover a{
    color: #fc99a4;
}
.f_top .f_sns ul li a{
    color: #ff4459;
    font-size: 40px;
    margin-left: 20px;
    text-align: right;
    line-height: 70px;
}
/* f_bottom */
.f_bottom{
    padding: 20px 0;
}
.f_bottom_.f_bottom_l{
    float: left;
    width: 1000px;
}
.f_bottom .f_bottom_l .f_main{
    padding: 10px 0;
    font-size: 15px;
    width: 100%;
}
.f_bottom_.f_bottom_l .f_main p{
}
.f_bottom .f_bottom_l .f_copy{
    font-size: 12px;
    width: 100%;
}
.f_bottom .f_bottom_l .f_call{
    padding-top: 20px;
    font-weight: bold;
    font-size: 22px;
    width: 100%;
}
.f_bottom .f_bottom_l .f_call a{
    padding-right: 10px;
    font-size: 30px;
    color: #047aff;
}
.f_bottom .f_bottom_r{
    float: right;
    width: 400px;
}
.f_bottom .f_bottom_r .f_f{
    margin-top: 15px;
    float: right;
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 5px 40px 7px 20px;
    background-color: #ff4459;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.f_bottom .f_bottom_r .f_f ul.on{
    height: 130px;
    overflow-y: auto;
}
.f_bottom .f_bottom_r .f_f ul{
    position: absolute;
    top: 33px;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    text-align: left;
    border-radius: 5px;
    box-sizing: border-box;
    height: 0;
}
.f_bottom .f_bottom_r .f_f ul li{
    padding: 5px 7px;
    box-sizing: border-box;
    display: none;
    font-size: 14px;
}
.f_bottom .f_bottom_r .f_f ul li.on2{
    display: block;
}
.f_bottom .f_bottom_r .f_f ul li a{}
.f_bottom .f_bottom_r .f_f img{
    position: absolute;
    right: 15px;
    top: 15px;
}
